.header{
    position: relative;
    height: 4rem;
    background: #03a9f4;
    color: #fff;
    font-size: 21px;
    z-index: 2;
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
}
.header .icon{
    font-size: 0;
}
.header .icon path{
    fill: #fff;
}
.header .logo{
    border-right: 1px solid rgba(255,255,255,0.2);
    padding-right: 24px;
    margin-left: 24px;
    line-height: 32px;
    text-shadow: 0px 2px 1px rgba(0,0,0,.25);
    letter-spacing: 1px;
}