<style>
    .chart-cot{
        padding-bottom: 15px;
    }
.chart-panel{
    margin-top: 15px;
    height: calc((100vh - 4rem - 45px)/2);

}
.chart-panel:nth-of-type(even){
    padding-left: 0;
}
.chart-item-wrap{
    padding: 10px;
    height: 100%;
    background-color: #fff !important;
    color: #6f6f6f;
    border-radius: 5px;
    cursor: pointer;
}
.chart-item-wrap:hover{
    -webkit-box-shadow: 0px 4px 5px rgba(0,0,0,.15);
    -moz-box-shadow: 0px 4px 5px rgba(0,0,0,.15);
    box-shadow: 0px 4px 5px rgba(0,0,0,.15);
    
}
.chart-item{
    height: 100%;
}
</style>
<div class="container-fluid">
    <div class="row chart-cot">
        <div class="col-xs-6 chart-panel">
            <div class="chart-item-wrap transition-3">
                <div class="chart-item js-user">

                </div>
            </div>
        </div>
        <div class="col-xs-6 chart-panel">
            <div class="chart-item-wrap transition-3">
                <div class="chart-item js-goodsCategory">

                </div>
            </div>
        </div>
        <div class="col-xs-6 chart-panel">
            <div class="chart-item-wrap transition-3">
                <div class="chart-item js-priceDivide">

                </div>
            </div>
        </div>
        <div class="col-xs-6 chart-panel">
            <div class="chart-item-wrap transition-3">
                <div class="chart-item js-collectTop5">

                </div>
            </div>
        </div>
        <div class="col-xs-6 chart-panel">
            <div class="chart-item-wrap transition-3">
                <div class="chart-item js-orderPriceTrend">

                </div>
            </div>
        </div>
        <div class="col-xs-6 chart-panel">
            <div class="chart-item-wrap transition-3">
                <div class="chart-item js-orderAreaNum">

                </div>
            </div>
        </div>
    </div>
</div>