<style>
.chart-panel{
    margin-top: 15px;
    height: calc((100vh - 4rem - 45px)/2);

}
.chart-panel:nth-of-type(even){
    padding-left: 0;
}
.chart-item{
    height: 100%;
    background-color: #fff !important;
    color: #6f6f6f;
    border-radius: 5px;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 chart-panel">
            <div class="chart-item">

            </div>
        </div>
        <div class="col-xs-6 chart-panel">
            <div class="chart-item">

            </div>
        </div>
        <div class="col-xs-6 chart-panel">
            <div class="chart-item">

            </div>
        </div>
        <div class="col-xs-6 chart-panel">
            <div class="chart-item">

            </div>
        </div>
    </div>
</div>