<style>
    .main-wrap.list-container{
        overflow-y: auto;
    }
    .left-menu.layout-left{
        color:rgba(0,0,0,0.87);
        padding: 1rem 0;
        background-color: transparent;
    }

    .left-menu .nav-pills>li>a{
        position: relative;
        border-radius: 0;
        color:rgba(0,0,0,0.87);
        line-height: 1.8;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }
    .left-menu .nav-pills>li>a .glyphicon-chevron-right{
        position: absolute;
        right: 5px;
        top:50%;
        width: 1rem;
        height: 1rem;
        margin-top: -0.5rem;
        opacity: 0;
    }
    .left-menu .nav-pills>li.active>a .glyphicon-chevron-right{
        opacity: 1;
    }
    .left-menu .nav-pills>li.active>a{
        color: #008be4;
        background-color: transparent;
    }
    .left-menu .nav-pills>li>a:hover,.left-menu .nav-pills>li>a:focus:hover,.left-menu .nav-pills>li.active>a,.left-menu .nav-pills>li.active>a:focus{
        background-color: #e7e7e7;
    }
</style>
<div class="layout-left left-menu" id="main-menu-cot">
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active query_store_storage"><a href="#list#query_store_storage"><span class="glyphicon glyphicon-chevron-right"></span>门店入库信息</a></li>
        <li role="presentation" class="query_storage"><a href="#list#query_storage"><span class="glyphicon glyphicon-chevron-right"></span> 入库信息</a></li>
        <li role="presentation" class="query_ppp_storage"><a href="#list#query_ppp_storage"><span class="glyphicon glyphicon-chevron-right"></span> 半成品入库信息</a></li>
        <li role="presentation" class="query_ppp_outgoing"><a href="#list#query_ppp_outgoing"><span class="glyphicon glyphicon-chevron-right"></span> 半成品出库信息</a></li>
        <li role="presentation" class="query_department_allocation"><a href="#list#query_department_allocation"><span class="glyphicon glyphicon-chevron-right"></span> 部门调拨信息</a></li>
        <li role="presentation" class="query_distribution_allocation"><a href="#list#query_distribution_allocation"><span class="glyphicon glyphicon-chevron-right"></span> 配送出库信息</a></li>
    </ul>
</div>
<div class="main-wrap list-container">
    <form class="js-query-form">
        <div class="query-opts ">
            <div class="query-group dsib js-search-params">

            </div>
            <div class="btns-group dsib">
                   <button type="button" class="btn btn-primary btn-md js-query-btn">查询</button>
            </div>
        </div>
    </form>
    <div class="table-wrap auto">
            <table class="main-table">
                <thead class="js-data-list-header">

                </thead>
                <tbody class="js-data-list-cot">

                </tbody>
            </table>
            <div class="pagination-cot-wrap">

            </div>
        </div>
</div>
<!--门店入库信息-->
<script type="text/template" id="table-header-tpl">
    <tr>
        <@_.each(obj.columns,function(key){@>
            <th><@-(headerMap[key]||"-")@></th>
        <@})@>
    </tr>
</script>
<script type="text/template" id="table-body-tpl">
    <@_.each(obj.dataList,function(trData){@>
    <tr>
        <@_.each(trData,function(val){@>
        <td><@-(val||"-")@></td>
        <@})@>
    </tr>
    <@})@>
</script>

<script type="text/template" id="search-param-tpl">
    <label>
        <@-label@>：
        <select class="form-control" style="width: auto" name="<@-name@>">
            <@_.each(optionList,function(val){@>
            <option value="<@-val@>"><@-(val||"-")@></option>
            <@})@>
        </select>
    </label>
</script>
