<style>
    .main-wrap.list-container{
        overflow: hidden;
    }
    .left-menu.layout-left{
        color:rgba(0,0,0,0.87);
        padding: 1rem 0;
        background-color: transparent;
    }

    .left-menu .nav-pills>li>a{
        position: relative;
        border-radius: 0;
        color:rgba(0,0,0,0.87);
        line-height: 1.8;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }
    .left-menu .nav-pills>li>a .glyphicon-chevron-right{
        position: absolute;
        right: 5px;
        top:50%;
        width: 1rem;
        height: 1rem;
        margin-top: -0.5rem;
        opacity: 0;
    }
    .left-menu .nav-pills>li.active>a .glyphicon-chevron-right{
        opacity: 1;
    }
    .left-menu .nav-pills>li.active>a{
        color: #008be4;
        background-color: transparent;
    }
    .left-menu .nav-pills>li>a:hover,.left-menu .nav-pills>li>a:focus:hover,.left-menu .nav-pills>li.active>a,.left-menu .nav-pills>li.active>a:focus{
        background-color: #e7e7e7;
    }
</style>
<div class="layout-left left-menu" id="main-menu-cot">
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active"><a href="javascript:;"><span class="glyphicon glyphicon-chevron-right"></span>列表1</a></li>
        <li role="presentation"><a href="javascript:;"><span class="glyphicon glyphicon-chevron-right"></span> 列表2</a></li>
        <li role="presentation"><a href="javascript:;"><span class="glyphicon glyphicon-chevron-right"></span> 列表3</a></li>
    </ul>
</div>
<div class="main-wrap list-container">
    <form class="js-query-form">
        <div class="query-opts ">
            <div class="query-group dsib">
                <input type="text" class="form-control w-9" id="applyTime" name="applyTime" value="" placeholder="搜索关键字"/>
            </div>
            <div class="btns-group dsib">
                   <button type="button" class="btn btn-primary btn-md js-query-btn">查询</button>
            </div>
        </div>
    </form>
    <div class="table-wrap auto">
            <table class="main-table">
                <thead>
                <tr>
                    <th style="min-width: 8rem">时间</th>
                    <th style="width: 10rem;">操作</th>
                </tr>
                </thead>
                <tbody class="js-data-list-cot">
                <tr>

                    <td >
12133
                    </td>
                    <td>
131313
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination-cot-wrap">

            </div>
        </div>
</div>